:root {
  --maxWidth: 1240px;
  --paddingHor: 20px;
  --paddingVer: 60px;
}

.maxWidth{
  max-width: var(--maxWidth);
  margin: auto;
}

.paddingHor{
  padding-left: var(--paddingHor);
  padding-right: var(--paddingHor);
}

.paddingVer{
  padding-top: var(--paddingVer);
  padding-bottom: var(--paddingVer);
}

*, ::after, ::before{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}
